Practice#1 (2022-02-17)

#### 상수/변수 개념

In [29]:
## 상수

print (100)
print (100.123)
print ("안녕하세요!!!")

100
100.123
안녕하세요!!!

In [30]:
## 변수

a = 10
print (a)

a = 10
b = 20
c = a + b
print (c)

10
30

In [31]:
## 변수 & 함수

def add(a,b):
    return a + b
c = add(4,3)
print(c)

7

In [32]:
## 변수 & 머신러닝
# %pip install sklearn ; 추가 라이브러리 설치시 참고 필요 (설치완료)

from sklearn.linear_model import LinearRegression

model = LinearRegression() # model 변수에 머신러닝 기법을 저장

In [33]:
## 변수에 값을 저장하고 문자열과 함께 출력

days = 28
print ("한달은", days,"일 이기도 합니다")

## 변수의 값은 변경해도 가능

days = 29
print("한달은", days, "일 입니다.")

한달은 28 일 이기도 합니다
한달은 29 일 입니다.

#### 연산순서
 - 괄호는 항상 우선
 - 거듭제곱
 - 곱셈, 나눗셈
 - 덧셈, 뺄셈
 - 왼쪽에서 오른쪽

In [34]:
## 숫자 연산자 - 더하기

2 + 2

4

In [35]:
## 숫자 연산자 - 빼기

4 - 2

2

In [36]:
## 숫자 연산자 - 곱하기

4 * 4

16

In [37]:
## 숫자 연산자 - 나누기

5 / 2

2.5

In [38]:
## 숫자 연산자 - 거듭제곱

5 ** 2

25

In [39]:
## 숫자 연산자 - 나머지 (remainder)

5 % 2

1

In [40]:
## 숫자 연산자 - 나눈 후 소수점 이하 절삭

5 / 2

2.5

#### 문자열 처리

In [49]:
## 여러줄인 문자열
multi1 = "I like python\nI need python" # \n (이스케이프 코드)
print(multi1)

multi2 = """
I like python
I nend python
"""
print(multi2)

multi3 = '''
I like python
I nend python
'''
print(multi3)

I like python
I need python

I like python
I nend python


I like python
I nend python

In [51]:
## 문자열 연결 연산자 : +
name = "홍지영"
print(name)

greet = "안녕하세요!"
print(greet)

print (name + '님' + ' ' + greet) # +를 사용하면 문자열이 연결됨

홍지영
안녕하세요!
홍지영님 안녕하세요!

In [53]:
## 문자열 반복 연산자 : *
a = 'blue' * 5
print(a)
print("=" * 30)

blueblueblueblueblue
==============================

#### 기본자료형, 문자열 자료
- 인덱싱
- 슬라이싱

In [62]:
## 문자열 인덱싱

a = "Hello World!"
print(a[-1]) # 문자열의 뒷에서 첫번째 값 출력
print(a[-2]) # 문자열의 뒤에서 두번째 값 출력
print(a[-3]) # 문자열의 뒤에서 세번째 값 출력

!
d
l

In [63]:
## 문자열 슬라이싱
a = "Hello World!"
print(a[0:5]) # 0번째 인덱스 요소부터 4번째 인덱스 요소까지 추출
print(a[6:11]) # 6번째 인덱스 요소부터 10번째 요소까지 추출

Hello
World

In [65]:
## 문자열 슬라이싱
a = "Hello World!"
print(a[:5]) # 첫번째 인덱스 요소부터 4번째 인덱스 요소까지 추출
print(a[6:]) # 6번째 인덱스 요소부터 마지막 요소까지 추출
print(a[3:-3]) # 3번째 인덱스 요소부터 뒤에서 4번째 인덱스 요소까지 추출

Hello
World!
lo Wor

In [71]:
# 문자열 포맷팅 : %
color = "파랑"
s1 = "나는 %s을 좋아합니다." %color
print(s1)

color = "노랑"
s2 = "나는 %s을 좋아합니다." %color
print(s2)

나는 파랑을 좋아합니다.
나는 노랑을 좋아합니다.

#### (p.52 - 60) 실습 필요.. 아 재미없음 그러나 중요한듯!

In [75]:
"""print() 함수를 이용한 데이터 출력
    - 작성자 : 김민호
    - 일자 : 2022-02-18
"""

print("안녕하세요")

안녕하세요

#### 복합자료형 (p.62 - 79) 실습필요... 지금은 못하겠음
- List
- Tuple
- Dictionary
- set

#### (p.80 - 102) : 입력문, 출력문, if 조건문, while 반복문, for 반복문

#### 함수 (p.103 - 113)

#### 모듈, 패키지, 라이브러리
- 모듈
    - 특정 기능들(함수, 변수 등)이 구현되어 있는 파이썬 파일 (.py)
    - 파이썬 코딩시 피룡한 모듈을 import하여 사용
- 패키지
    - 특정 기능과 관련된 여러 모듈을 하나의 폴더에 넣은 것을 패키지라 함.
    - 패키지는 모듈별로 파일들을 구분하여, 하위 폴더에 저장
    - 파이썬 작업환경에 필요한 패키지 설치 필요
    (아나콘다는 데이터 사이언스 패키지를 포함하여 제공), 그러나 회사에서 사용할때는 라이센스 구입이 필요함!!
- 라이브리러 : 자주 사용하는 프로그램을 모듈과 패키지로 묶어서 구성
    파이썬에 기본적으로 설치되는 라이브러리를 표준 라이브러리라고 함 > 사용자가 별도의 설치나, import 필요 없음

In [78]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (1.4.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.22.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [80]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (1.22.1)
Note: you may need to restart the kernel to use updated packages.

In [81]:
%pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (3.5.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (4.29.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (9.0.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.17 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.22.1)
Requirement already satisfied: cycler>=0.10 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: six>=1.5 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [82]:
%pip install scipy

Requirement already satisfied: scipy in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from scipy) (1.22.1)
Note: you may need to restart the kernel to use updated packages.

In [83]:
%pip install seaborn

Collecting seabornNote: you may need to restart the kernel to use updated packages.
  Using cached seaborn-0.11.2-py3-none-any.whl (292 kB)
Requirement already satisfied: numpy>=1.15 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.22.1)
Requirement already satisfied: scipy>=1.0 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.7.3)
Requirement already satisfied: matplotlib>=2.2 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (3.5.1)

Requirement already satisfied: pandas>=0.23 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.7)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (9.0.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (4.29.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.2

In [7]:
%pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (0.13.1)
Requirement already satisfied: scipy>=1.3 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.7.3)
Requirement already satisfied: pandas>=0.25 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.4.0)
Requirement already satisfied: patsy>=0.5.2 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: numpy>=1.17 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.22.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.25->statsmodels) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
%pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.22.1)
Requirement already satisfied: joblib>=0.11 in c:\users\kimmh1\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
# 엑셀파일 Open 가능하게 하는 패키지
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     -------------------------------------- 242.2/242.2 KB 2.5 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
Note: you may need to restart the kernel to use updated packages.

#### 데이터 수집 및 정제 (p.122)

In [12]:
import pandas as pd
df = pd.read_csv('C:\Users\kimmh1\Documents\GitHub\YanaduProgramming\MinHoKim\Project_MinHo\data\health.csv', encoding = 'euc-kr')
df.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (224457971.py, line 2)

In [13]:
# Unicode 에러 발생시 "r" 추가 필요!!

import pandas as pd
df = pd.read_csv(r'C:\Users\kimmh1\Documents\GitHub\YanaduProgramming\MinHoKim\Project_MinHo\data\health.csv', encoding = 'euc-kr')
df.head()

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
1,Gracie,여성,38,30대,81.87,60.055,8.63,170,48,186
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
4,Chris,남성,49,40대,81.42,49.156,8.95,180,44,185

In [19]:
import pandas as pd
df = pd.read_excel(r'C:\Users\kimmh1\Documents\GitHub\YanaduProgramming\MinHoKim\Project_MinHo\data\grade.xlsx', sheet_name = 'Sheet1')
df.head()

    반   성명  국어  영어  수학  사회  과학
0  1반  홍길동  93  80  94  73  64
1  5반  백일홍  93  63  76  84  92
2  3반  이삼상  94  74  86  90  70
3  4반  정말로  83  55  64  90  65
4  5반  한번도  87  95  66  75  60

In [22]:
import pandas as pd
import numpy as np
from numpy.random import randn

np.random.seed(1234)

df = pd.DataFrame(randn(10,2), columns=['A','B'])
df

          A         B
0  0.471435 -1.190976
1  1.432707 -0.312652
2 -0.720589  0.887163
3  0.859588 -0.636524
4  0.015696 -2.242685
5  1.150036  0.991946
6  0.953324 -2.021255
7 -0.334077  0.002118
8  0.405453  0.289092
9  1.321158 -1.546906

In [25]:
df['A'] # Series 형태

0    0.471435
1    1.432707
2   -0.720589
3    0.859588
4    0.015696
5    1.150036
6    0.953324
7   -0.334077
8    0.405453
9    1.321158
Name: A, dtype: float64

In [29]:
df[['A']] # dataframe 형태

          A
0  0.471435
1  1.432707
2 -0.720589
3  0.859588
4  0.015696
5  1.150036
6  0.953324
7 -0.334077
8  0.405453
9  1.321158

In [31]:
df[0:5]

          A         B
0  0.471435 -1.190976
1  1.432707 -0.312652
2 -0.720589  0.887163
3  0.859588 -0.636524
4  0.015696 -2.242685