In [8]:
print("hello world")
y = 10

hello world

In [4]:
print("hello")

hello

In [5]:
x = 5 
print(x)

5

In [9]:
print(y)

10

# 안녕하세요!

# 큰제목
## 중제목 
### 소제목 
글을 **두껍께** 쓸수도 있고 *기울여 쓸수도* 있습니다
* list item1
* list item2 
* list item3 
** list item

In [13]:
import pandas as pd
df = pd.read_csv("data.liverpool.csv")
print(df)

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil

In [14]:
df

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil