In [1]:
import numpy

In [2]:
array = numpy.array([1,3,5,3,7,8,34,6,2,3,4,2,13,23,53])

In [3]:
array

array([ 1,  3,  5,  3,  7,  8, 34,  6,  2,  3,  4,  2, 13, 23, 53])

In [4]:
type(array)

numpy.ndarray

In [5]:
array.shape

(15,)

In [7]:
array2 = numpy.array([[1,3,5,3],[7,8,34,6],[2,3,4,2],[32,42,23,53]])

In [8]:
array2

array([[ 1,  3,  5,  3],
       [ 7,  8, 34,  6],
       [ 2,  3,  4,  2],
       [32, 42, 23, 53]])

In [9]:
type(array2)

numpy.ndarray

In [10]:
array2.shape

(4, 4)

In [12]:
print(array.size)
print(array2.size)

15
16

* array 는 1차원 배열
* array2 는 2차원 배열임 
* array.size는 요소의 개수를 리턴함

In [16]:
array1 = numpy.full(6,7)

In [18]:
array1

array([7, 7, 7, 7, 7, 7])

In [19]:
array1 = numpy.full(6,0)
array2 = numpy.zeros(6,dtype=int)

print(array1)
print()
print(array2)

[0 0 0 0 0 0]

[0 0 0 0 0 0]

In [21]:
array1 = numpy.full(7,1)
array2 = numpy.ones(7, dtype=int)
print(array1)
print()
print(array2)

[1 1 1 1 1 1 1]

[1 1 1 1 1 1 1]

In [22]:
import numpy as np
array1 = np.full(6,0)
array2 = np.zeros(6)

In [25]:
import numpy as np 
arr = np.array(range(1,101))
arr

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [2]:
import numpy as np 
arr = np.arange(1,101,1,dtype=int)
arr

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [3]:
arr[-1]

100

In [4]:
arr[2:7]

array([3, 4, 5, 6, 7])

In [5]:
arr[:45]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])

In [6]:
arr[55:]

array([ 56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,
        69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,
        82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,
        95,  96,  97,  98,  99, 100])

In [7]:
arr[4:54:2]

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49, 51, 53])

In [28]:
arraypy = range(0,10)
array1 = np.arange(10)
array2 = np.arange(10,20)

In [29]:
arraypy * 2

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [33]:

for i in range(0,len(arraypy)):
    arraypy[i] = 2 * arraypy[i]
arraypy

TypeError: 'range' object does not support item assignment

numpy는 모든 요소에 대한 사칙연산이 그냥 적용된다.
기존 파이썬리스트는 for 를 통해 각각의 요소에 대해 직접 연산을 해줘야 함.
즉 행렬연산을 루프 없이 그냥 사용할수 있다.

In [11]:
array1 * 2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [34]:
array1 / 2

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

In [38]:
array1 / array2

array([0.        , 0.09090909, 0.16666667, 0.23076923, 0.28571429,
       0.33333333, 0.375     , 0.41176471, 0.44444444, 0.47368421])

흥부부대찌개 신주쿠점의 흥행에 성공한 영훈이는 여세를 몰아 LA에도 가맹점을 하나 냈습니다.

이제 아버지께 매출을 보고하기 위한 프로세스가 조금 복잡해졌습니다. 각 지점의 매출을 원화로 변환시키고 더해야 하죠. 1엔에 10.08원, 1달러에 1138원이라고 가정하세요. 그리고 두 지점의 매출의 합이 원화로 담긴 numpy array를 만들어 출력해주세요.

반복문은 사용하면 안 됩니다!

주의: 자동 채점 과제입니다. 정답 출력 코드는 print가 없는 방식으로 작성해 주세요. (예시: won_array)

In [45]:
import numpy as np

revenue_in_yen = np.array([
    300000, 340000, 320000, 360000, 
    440000, 140000, 180000, 340000, 
    330000, 290000, 280000, 380000, 
    170000, 140000, 230000, 390000, 
    400000, 350000, 380000, 150000, 
    110000, 240000, 380000, 380000, 
    340000, 420000, 150000, 130000, 
    360000, 320000, 250000
])

# 코드를 작성하세요.
won_array = revenue_in_yen * 10.08
# 정답 출력
won_array

array([3024000., 3427200., 3225600., 3628800., 4435200., 1411200.,
       1814400., 3427200., 3326400., 2923200., 2822400., 3830400.,
       1713600., 1411200., 2318400., 3931200., 4032000., 3528000.,
       3830400., 1512000., 1108800., 2419200., 3830400., 3830400.,
       3427200., 4233600., 1512000., 1310400., 3628800., 3225600.,
       2520000.])